/*
Name: Anshul Gohel
Course Code: ICS3UR-B
Date: 23.4.2019
Announcement App 2.0
*/

body {
    background-color: #FCA31D;
}

:root {
    --mainColor: #cc0000;
}

body {
    align-items: center;
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    height: 100vh;
    justify-content: center;
}

h1 {
    color: white;
    font-family: "Georgia", sans-serif;
}

h3 {
    color: black;
    font-family: 'Arial';
}

a {
    color: var(--mainColor);
    text-decoration: none;
    font-family: 'Verdana';
    font-size: 20px;
}


a:hover {
    color: brown;
    -webkit-text-stroke: 2px var(--mainColor);
}

@supports not(-webkit-text-stroke: 2px red) {
    a:hover {
        text-shadow:
            3px 3px 0 var(--mainColor),
            -1px -1px 0 var(--mainColor),
            1px -1px 0 var(--mainColor),
            -1px 1px 0 var(--mainColor),
            1px 1px 0 var(--mainColor);
    }
}

.box {
    background-color: #B1BDF6;
    width: 400px;
    height: 430px;
}

.boxer {
    background-color: #B1BDF6;
    width: 650px;
    height: 450px;
}

.boxing {
    background-color: #B1BDF6;
    width: 600px;
    height: 465px;
}

.wagwan {
    background-color: #B1BDF6;
}

p1 {
    font-family: 'Verdana';
}
